body {
    background-color: aquamarine;
}

.UpperBody {
    text-align: center;
}
.UpperBody > p {
    font-size: 300%;
    text-align: center;
    justify-content: center;
}

.Dices-Section {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.Player {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Player p {
    margin: 0;
    margin-bottom: 20%;
}